@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;

.z-card {
  @include m.flex-center-all;

  max-width: v.$max-cont-width;
  padding: v.$space-xl 0;
  position: relative;

  &--right {
    margin: 0 0 0 auto;
  }

  &--left {
    margin: 0 auto 0 0;
  }

  &__title {
    left: -5%;
    position: absolute;
    text-align: center;
    top: 11%;
    width: 100%;
  }

  &__content-cont,
  &__img-cont {
    width: 50%;
  }

  &__img-cont {
    overflow-x: hidden;
  }

  &__content {
    &:not(:last-child) {
      margin-bottom: v.$space-xxl;
    }
  }

  &__img {
    display: block;
    width: 120%;

    &--editor {
      transform: translate(10%, 0);
    }

    &--laptop {
      transform: translate(-28%, 0);
    }
  }
}
